.App {
  background-color: white;
  color: #272932;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  background-color: white;
  font-weight: bold;
}

footer {
  font-weight: bold;
}

#club-name-heading {
  margin-top: 5px;
  margin-bottom: 15px;
}

#navigation {
  background-color: #828489;
  padding-top: 2px;
}

#navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navigation-item {
  background-color: white;
  padding: 7px 25px;
  border-radius: 20px 20px 0px 0px;
}

.navigation-link {
  text-decoration: none;
  color: #272932;
}

li {
  list-style: none;
}

#logo-image {
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
}

/* Error page */

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}