/* General */
.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  gap: 15px;
  margin: auto auto;
  padding: 1% 1%;
  --dark-text-color: #1d2d44;
  --moderate-background-color: #1d2d44;
  --light-background-color: #283b58;
  background-color: white;
  color: var(--dark-text-color);
  background-color: var(--moderate-background-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  text-align: left;
}

p {
  text-align: justify;
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

main {
  background-color: white;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}


.image-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 0;
  padding: 20px 10px;
}

.image-gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* Header */

header {
  background-color: var(--moderate-background-color);
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1%;
}

#navigation {
  
}

#navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.navigation-link {
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.navigation-link:hover {
  background-color: var(--light-background-color);
}

.navigation-link-active {
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--dark-text-color);
  background-color: white;
}

.navigation-link-pending {
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--dark-text-color);
  background-color: blue;
}

li {
  list-style: none;
}

#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: white;
  height: 80%;
  margin-right: 5px;
  border-radius: 10px;
}

.social-icon {
  font-size: 2rem;
  text-decoration: none;
  color: var(--dark-text-color);
  padding: 3px;
  border-radius: 5px;
}

#logo-image {
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
  border: 5px solid var(--moderate-background-color);
  border-radius: 60px;
}

/* Footer */

footer {
}

footer p {
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Error page */

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* About page */


/* Contact page */

#club-administration {
  text-align: left;
  border-collapse: separate;
}

#club-administration td {
  padding-right: 15px;
  padding-bottom: 10px;
}

.administrator-title {
  font-weight: bold;
}