.App {
  background-color: #4D7EA8;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #99CCFF;
  font-weight: bold;
  color: white;
}

#navigation {
}

#navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navigation-item {
  background-color: #4D7EA8;
  padding: 7px 25px;
  border-radius: 5px;
}

.navigation-link {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}